<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--
        Database schema update behavior.
        'update' means Hibernate will automatically update the database schema based on the entity mappings.
        -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!--
        Database connection URL.
        Replace [ip-address], [port], and [database] with the actual values.
        -->
        <property name="hibernate.connection.url">jdbc:mysql://[ip-address]:[port]/[database]</property>

        <!--
        Database connection username.
        Replace [username] with the actual database username.
        -->
        <property name="hibernate.connection.username">[username]</property>

        <!--
        Database connection password.
        Replace [password] with the actual database password.
        -->
        <property name="hibernate.connection.password">[password]</property>

        <!-- Show SQL queries in the console (for debugging purposes). -->
        <property name="hibernate.show_sql">true</property>

        <!--
        Database dialect. Specify the appropriate dialect for your database.
        In this case, it's set to MariaDB dialect.
        -->
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>
    </session-factory>
</hibernate-configuration>
